<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>DashBoard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Registration and
                Login Module</a>
            <a class="navbar-brand" href="#" th:href="@{/admin/tab1.html}">Tab1</a>
            <a class="navbar-brand" href="#" th:href="@{/admin/tab2.html}">Tab2</a>
            <a class="navbar-brand" href="#" th:href="@{/admin/tab3.html}">Tab3</a>
            <a class="navbar-brand" href="#" th:href="@{/admin/tab4.html}">Tab4</a>
        </div>
    </div>
</nav>

<br>
<br>

<div class="container">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Admin Dashboard Page</h1>
        </div>
    </div>


</div>

<script type="text/javascript"
        th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>